<!DOCTYPE html>
<html id="html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central de Datos - Ahorra+</title>
    <!--CSS-->
    <link rel="stylesheet" href="/src/assets/styles/dashboard.css">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Nerko+One&display=swap" rel="stylesheet">
    <!--Link favicon-->
    <link rel="shortcut icon" href="/src/assets/img/logo/favicon.png" type="image/x-icon">
</head>
<body id="body">
    <!--NAV-->
    <nav id="nav">
        <header class="profileContainer">
            <img id="profImg" src="" alt="Foto de perfil elegida por el usuario">
            <span id="navUsername"></span>
        </header>
        <section class="navigation">
            <ul>
                <li><img src="/src/assets/img/icons/dashboardThin.png" alt="Ícono Home Dashboard"></li>
                <li><img src="/src/assets/img/icons/newExpenseThin.png" alt="Ícono de Nuevo Gasto"></li>
                <li><img src="/src/assets/img/icons/historyThin.png" alt="Ícono de Historial de gastos"></li>
                <li><img src="/src/assets/img/icons/tutorial.png" alt="Ícono de tutorial de como utilizar la app"></li>
                <li><img src="/src/assets/img/icons/logoutThin.png" alt="Ícono de salir/logout"></li>
            </ul>
            <ul>
                <li id="toDashboard">Dashboard</li>
                <li id="toNewExpense">Nuevo Gasto</li>
                <li id="toHistory">Historial</li>
                <li id="tutorial">Tutorial</li>
                <li id="logoutButton">Salir</li>
            </ul>
        </section>
    </nav>
    <!--BURGUER MENU-->
    <img id="burguerIcon" class="menuIcon" src="/src/assets/img/icons/menu.png" alt="Ícono de menu de navegación">
    <img id="closeBurguer" class="menuIcon" src="/src/assets/img/icons/closeMenu.png" alt="Ícono de cerrar menu de navegación">
    <!--MAIN-->
    <main>
        <section id="dashboard" class="dashboard section">
            <h3 class="span">Dashboard - Central de Datos</h3>
            <div class="titleContainer">
                <h2 id="username"></h2>
                <div class="mode"><div class="darkMode" id="darkMode"></div><div class="lightMode" id="lightMode"></div></div>
            </div>
            <div class="cards">
                <div class="total card">
                    <img src="/src/assets/img/icons/gastos.png" alt="Ícono referencial a los gastos de transporte">
                    <h4 class="span">Total gastado</h4>
                    <span id="totalExpenses" class="span"></span>
                    <button class="toAddExpenses" id="addTotal"><img src="/src/assets/img/icons/pig.png" alt="Ícono que representa el logo de la marca: un cerdo">Agregar gasto</button>
                </div>
                <div class="transportCategory card">
                    <img src="/src/assets/img/icons/transport.png" alt="Ícono referencial a los gastos de transporte">
                    <span id="transport" class="span"></span>
                    <button class="toAddExpenses" id="addTransport"><img src="/src/assets/img/icons/pig.png" alt="Ícono que representa el logo de la marca: un cerdo">Agregar gasto</button>
                </div>
                <div class="foodCategory card">
                    <img src="/src/assets/img/icons/fastFood.png" alt="Ícono referencial a los gastos de transporte">
                    <span id="food" class="span"></span>
                    <button class="toAddExpenses" id="addFood"><img src="/src/assets/img/icons/pig.png" alt="Ícono que representa el logo de la marca: un cerdo">Agregar gasto</button>
                </div>
                <div class="entertainmentCategory card">
                    <img src="/src/assets/img/icons/entertainment.png" alt="Ícono referencial a los gastos de transporte">
                    <span id="entertainment" class="span"></span>
                    <button class="toAddExpenses" id="addEntertainment"><img src="/src/assets/img/icons/pig.png" alt="Ícono que representa el logo de la marca: un cerdo">Agregar gasto</button>
                </div>
                <div class="perFilter">
                    <h4 class="span">¿Quieres filtrar los gastos?</h4>
                    <div>
                       <button id="toFilter"><img id="filterIcon" src="/src/assets/img/icons/filters.png" alt="Ícono referencial de filtros/configuracion">Filtros</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="filters" class="filters section">
            <h3 class="span">Filtros</h3>
            <div class="perDates">
                <div id="dateFilter">
                    <h4 class="span">Escoge una fecha específica</h4>
                    <label for="date" class="span">Escoge la fecha</label>
                    <input class="input" type="date" name="date" id="dateHome" required>
                    <button class="input" id="dateFilterButton">Filtrar</button>
                    <span class="span" id="dateSpan"></span>
                </div>
                <div id="betweenFilter" class="card">
                    <h4 class="span">Analiza tus gastos entre fechas</h4>
                    <div class="dates">
                        <div class="initialDate">
                            <label class="span" for="initialDate">Fecha inicial</label>
                            <input class="input" type="date" name="initialDate" id="initialDate" required>
                        </div>
                        <div class="finalDate">
                            <label class="span" for="finalDate">Fecha final</label>
                            <input class="input" type="date" name="finalDate" id="finalDate" required>
                        </div>
                    </div>
                    <button class="input" id="betweenDateFilterButton">Filtrar</button>
                    <span class="span" id="betweenDateSpan"></span>
                </div>
            </div>
        </section>
        <section id="newExpenses" class="newExpenses section">
            <h3 class="span">Registra un nuevo gasto</h3>
            <form>
                <label for="description" class="span">Describe tu gasto</label>
                <input class="input span" type="text" name="description" id="description" required>
                <label for="date" class="span">Especifica la fecha</label>
                <input class="input" type="date" name="date" id="date" required>
                <label for="value" class="span">Ingresa el valor</label>
                <input class="input span" type="number" name="value" id="value" required>
                <label for="" class="span">Escoge la categoría</label>
                <select class="input" id="category">
                    <option value="transporte">Transporte</option>
                    <option value="alimentos">Alimentos</option>
                    <option value="entretenimiento">Entretenimiento</option>
                </select>
                <button class="input" id="registerButton">Registrar</button>
            </form>
            <div>
                <img src="/src/assets/img/alcancia.png" alt="Imagen de fondo referencial de un alcancia">
            </div>
        </section>
        <section id="history" class="history section">
            <h3 class="span">Historial de gastos</h3>
            <ul class="ulHeader card">
                <li class="span">Tipo</li>
                <li class="span">Fecha</li>
                <li class="span">Descripción</li>
                <li class="span">Valor</li>
            </ul>
            <ul id="expensesList" class="expensesList">
                <span id="spentSpan" class="span">Aún no hay registro de gastos</span>
            </ul>
            <div>
                <img id="backgroundPig" src="/src/assets/img/backPig.gif" alt="">
            </div>
        </section>
        <!--MODALES ERROR Y ÉXITO-->
        <section id="errorSuccessModals">
            <div id="fullscreenContainer" class="fullscreenContainer">
                <span id="modalMessage"></span><img id="closeModal" src="/src/assets/img/icons/close.png" alt="Close Icon">
            </div>
        </section>
    </main>
    <!--TUTORIAL-->
        <div id="firstStep" class="tutorialStep">
            <img class="pigmanImg" src="/src/assets/img/pigman/defaultPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>Bienvenido al tutorial, Estanis</h3>
                <p>Yo soy Pigman+, de Ahorra+ y estoy encantado de ayudarte a conocer nuestra app. <br>
                En esta aventura, podrás conocer todo el funcionamiento y servicio que ofrecemos para ti. <br> <br>
                ¡Asi que dale! Comienza presionando en siguiente</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep2"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="secondStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>Presiona el dashboard</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial" id="endTut1"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep3"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="thirdStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>Tercer paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep4"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="fourthStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>Cuarto paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep5"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="fifthStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>Quinto paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep6"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="sixthStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>Sexto paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep7"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="seventhStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>Septimo paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep8"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="eigthStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>octavo paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep9"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="ninethStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>9 paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep10"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="tenStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>10 paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep11"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="elevenStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>11 paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep12"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="twelveStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>12 paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep13"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="thirdteenStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>13 paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep14"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="fourtheenStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>14 paso</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="toStep15"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
        <div id="fiftheenStep" class="tutorialStep" style="display: none;">
            <img class="pigmanImg" src="/src/assets/img/pigman/moneyPigman.png" alt="Ícono del señor cerdo que representa la marca">
            <div class="textTutorial">
                <h3>paso final</h3>
                <p>El lugar donde tienes tooooda la información sobre tus gastos.</p>
            </div>
            <div class="buttonZone">
                <button class="endTutorial"><img class="buttonImg end" src="/src/assets/img/icons/x.png" alt="Icono de Cerrar"></button>
                <button class="nextTutorial nextTut" id="finalStep"><img class="buttonImg next" src="/src/assets/img/icons/next.png" alt="Ícono de siguiente"></button>
            </div>
        </div>
    <!--SCRIPTS-->
    <script type="module" src="/src/js/dashboardFunctionality.js"></script>
    <script type="module" src="/src/js/dashboard.js"></script>
    <script type="module" src="/src/js/controllers.js"></script>
</body>
</html>