<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorra+ - Portal</title>
    <!--CSS-->
    <link rel="stylesheet" href="/src/assets/styles/home.css">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Nerko+One&display=swap" rel="stylesheet">
    <!--Link favicon-->
    <link rel="shortcut icon" href="/src/assets/img/logo/favicon.png" type="image/x-icon">
</head>
<body>
    <!--NAV & HEADER-->
    <nav>
        <p>¿Qué deseas hacer?</p>
        <header>
            <ul>
                <li id="homeButton"><img src="/src/assets/img/icons/home.png" alt="Home Icon"></li>
                <li id="addButton"><img src="/src/assets/img/icons/add.png" alt="Add Icon"></li>
                <li id="expensesButton"><img src="/src/assets/img/icons/expenses.png" alt="Expenses Icon"></li>
                <li><img id="logOutButton" src="/src/assets/img/icons/logOut.png" alt="Logout Icon"></li>
            </ul>
        </header>
    </nav>
    <!--CONTENIDO PRINCIPAL-->
    <main>
        <!--SECCION PRINCIPAL-->
        <section id="homeSection" class="homeSection">
            <img src="/src/assets/img/logo/logoWithoutBackground.png" alt="Ahorra+ Logotype">
        </section>
        <!--SECCION DE FORMULARIO PARA AGREGAR GASTOS-->
        <section id="addSection" class="addSection">
            <form>
                <h3>Registra un nuevo gasto aquí</h3>
                <input type="text" name="description" id="description" required placeholder="Describe el gasto">
                <input type="date" name="date" id="date" required>
                <input type="number" name="value" id="value" required placeholder="¿Cuánto?">
                <select id="category">
                    <option value="transporte">Transporte</option>
                    <option value="alimentos">Alimentos</option>
                    <option value="entretenimiento">Entretenimiento</option>
                </select>
                <button id="registerButton" type="submit">Registrar</button>
            </form>
        </section>
        <!--SECCION DE HISTORIAL DE GASTOS-->
        <section id="expensesContainer" class="expensesContainer">
            <h3>Historial de gastos</h3>
            <ul id="expensesList" class="expensesList">
                <ul class="ulHeader">
                    <li>Tipo</li>
                    <li>Fecha</li>
                    <li>Descripción</li>
                    <li>Valor</li>
                </ul>
                <span id="spentSpan">Aún no hay registro de gastos</span>
            </ul>
        </section>
        <!--MODALES ERROR Y ÉXITO-->
        <section id="errorSuccessModals">
            <span id="modalMessage"></span><img id="closeModal" src="/src/assets/img/icons/close.png" alt="Close Icon">
        </section>
    </main>
    <!--FOOTER-->
    <footer>

    </footer>
    <!--SCRIPTS-->
    <script type="module" src="/src/js/controllers.js"></script>
    <script type="module" src="/src/js/app.js"></script>
</body>
</html>