<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar - Ahorra+</title>
    <!--Link CSS-->
    <link rel="stylesheet" href="/src/assets/styles/loginRegister.css">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Nerko+One&display=swap" rel="stylesheet">
    <!--Link favicon-->
    <link rel="shortcut icon" href="/src/assets/img/logo/favicon.png" type="image/x-icon">
</head>
<body>
    <!--NAV & HEADER-->
    <nav>
        <header class="topHeader">
            <ul class="navSectionsList">
                <li>Sobre Ahorra+</li>
                <li>¿Cómo utilizarla?</li>
                <li>Nuestra misión</li>
                <li>Contacto</li>
                <li>Ayuda</li>
            </ul>
        </header>
        <header class="bottomHeader">
            <img id="toIndex" src="/src/assets/img/logo/logoWithoutBackground.png" alt="Logo Ahorra+">
        </header>
    </nav>
    <!--CONTENIDO PRINCIPAL (FORMULARIO)-->
    <main>
        <form class="loginForm">
            <h1>Ingresa con las siguientes credenciales</h1>
            <input type="email" name="email" id="email" required placeholder="Correo electrónico">
            <input type="password" name="password" id="password" required placeholder="Contraseña">
            <button id="loginUser">Ingresar</button>
            <p>¿Ya tienes cuenta? <span id="toRegister">Registrarme</span></p>
        </form>  
        <img src="/src/assets/img/loginBackground.png" alt="Imagen referencial de loguearse en una app">
    </main>
    <!--MODALES DE ERROR O ÉXITO-->
    <section id="errorSuccessModalLogReg">
        <span id="modalMessageLogReg"></span><img id="closeModalLogReg" src="/src/assets/img/icons/close.png" alt="Close Icon">
    </section>
    <!--FOOTER-->
    <footer>
        <img src="/src/assets/img/logo/logoWithoutBackground.png" alt="Logo Ahorra+">
    </footer>
    <!--Link JS-->
    <script type="module" src="/src/js/index.js"></script>
</body>
</html>