//Variables
$backgroundImage: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
$brandColor: #09e668;
$sm: 12px;
$md: 18px;
$lg: 24px;
$afacadFont: "Afacad Flux", sans-serif;
$secondaryColor: #2c4ba9;
$darkFontColor: #272727;
$lightFontColor: #e3e3e3;
$shadow: #9d9c9c;
$errorColor: rgb(245, 106, 106);
$sm: 14px;
$md: 16px;
$lg: 22px;
$slg: 30px;
$noBold: 400;
$bold: 600;
$montserratFont: "Montserrat", sans-serif;
$fontAfacada: "Afacad Flux", sans-serif;
$fontOpenSans: "Open Sans", sans-serif;
$fontNerkoOne: "Nerko One", cursive;
$fontPlaywrite: "Playwrite CU", cursive;

//Mixins
@mixin displayFlex($justifyContent: center, $flexDirection: column){
    display: flex;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
    align-items: center;
}
@mixin sizes($width: 100%, $height: 100%){
    width: $width;
    height: $height;
}
@mixin fontConfig($textAlign: center, $fontSize: $sm, $fontWeight: $noBold, $fontColor: $darkFontColor){
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $fontColor;
    text-align: $textAlign;
}
@mixin buttonDesign($width: 100%){
    padding: 2px;
    border: 1px solid $darkFontColor;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease;
    font-family: $fontAfacada;
    width: $width;
    height: 40px;
    text-align: center;
    font-weight: $bold;
    font-size: $sm;
    color: $darkFontColor;
    cursor: pointer;
}
@mixin inputDesign($width: 300px, $height: 40px){
    border-radius: 5px;
    border: 0px solid black;
    outline: none;
    width: $width;
    height: $height;
    background-color: transparent;
    font-size: $md;
    font-family: $fontAfacada;
    padding-left: 10px;
    box-shadow: 0px 0px 5px 1px $shadow;
}

//Generales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Html
html{
    @include sizes();
    @include displayFlex();
}

//Body
body{
    @include sizes();
    @include displayFlex();
    font-family: $afacadFont;
}

//Nav
nav{
    @include sizes(100%,130px);
    background-color: $secondaryColor;
    position: fixed;
    top: 0px;
    left: 0px;
    @include displayFlex($justifyContent: space-between);
    z-index: 10000;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    p{
        @include displayFlex();
        font-size: $lg;
        @include sizes($width: 200px,$height: 50px);
        text-align: center;
        background-color: #81ee55;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    header{
        @include displayFlex($flexDirection: row);
        @include sizes();
        
        ul{
            @include displayFlex($flexDirection: row);
            @include sizes();
            gap: 15px;
            li{
                list-style: none;
                @include displayFlex();
                cursor: pointer;
                transition: all 0.5s ease;

                img{
                    @include sizes(35px,auto);
                }
                span{
                    font-size: $lg;
                    font-weight: 600;
                }
            }
            li:hover{
                transform: scale(1.07)
            }
        }
    }
}

//Main
main{
    @include sizes();
    @include displayFlex();
    margin-top: 120px;

    //Contenedor principal
    .homeSection{
        @include displayFlex();
        @include sizes(90%, 300px);
        display: flex;
    }

    //Contenedor para agregar gastos (Formulario)
    .addSection{
        @include sizes();
        @include displayFlex();
        display: none;

        form{
            @include displayFlex();
            @include sizes();
            gap: 10px;
            border: 1px solid black;

            h3{
                width: 350px;
                cursor: default;
            }
            input{
                @include inputDesign($width: 350px,$height: 40px);
            }
            select{
                @include inputDesign($width: 350px,$height: 40px);
            }
            button{
                @include buttonDesign($width:350px);
            }
            button:hover{
                background-color: $brandColor;
            }
        }
        form input:first-child{
            height: 80px;
        }
    }

    //Contenedor del historial de gastos
    .expensesContainer{
        @include sizes($width: 90%);
        @include displayFlex();
        gap: 10px;
        display: none;
        margin-top: 20px;

        h3{
            font-size: $lg;
            opacity: 0.7;
            @include sizes($height: 40px);
        }

        .expensesList{
            @include displayFlex();
            display: block;
            @include sizes($height: 500px);
            gap: 5px;
            box-shadow: 0px 0px 10px 1px $shadow;
            overflow-y: scroll;
            padding: 15px;

            .ulHeader{
                @include displayFlex($justifyContent: space-between,$flexDirection:row);
                box-shadow: 0px 0px 5px 1px $shadow;
                border-radius: 5px;
                opacity: 0.7;
                cursor: default;
                padding: 5px;

                li{
                    @include sizes($width: 200px,$height: 40px);
                    border-bottom: 0px;
                }
            }
            .ulHeader li:first-child{
                width: 150px;
            }
            li{
                @include sizes($height: 40px);
                @include displayFlex($justifyContent: space-between,$flexDirection: row);
                border-bottom: 1px solid $brandColor;
                cursor: default;

                img{
                    @include sizes(30px,auto);
                }
                span{
                    @include sizes($width: 200px);
                    @include displayFlex();
                    align-items: flex-start;
                }
            }
        }
    }

    //Modales de error y éxito
    #errorSuccessModals{
        position: absolute;
        box-shadow: 0px 0px 10px 1px $shadow;
        border-radius: 5px;
        padding: 10px;
        @include sizes($width:230px,$height:40px);
        @include displayFlex($justifyContent:space-between,$flexDirection:row);
        top: 150px;
        z-index: 99999;
        transform: translateY(-1500px);
        display: none;

        span{
            color: $darkFontColor;
            font-weight: $bold;
        }
        img{
            @include sizes($width: 20px, $height: auto);
            cursor: pointer;
        }
    }
}

//Animaciones
@keyframes fadeInModal {
    100%{transform: translateY(50px);}
}