* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 3500px;
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}
@media screen and (max-width: 567px) {
  html {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

body {
  width: 100%;
  height: 3500px;
  font-family: "Afacad Flux", sans-serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

nav {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  transform: translateY(-500px);
  animation: translateY forwards ease;
  animation-duration: 1s;
  box-shadow: 0px 0px 10px 1px black;
}
@media screen and (max-width: 567px) {
  nav {
    height: 200px;
  }
}
nav header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  z-index: 998;
}
@media screen and (max-width: 567px) {
  nav header {
    height: 100px;
    flex-wrap: wrap;
  }
}
nav header ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 567px) {
  nav header ul {
    flex-wrap: wrap;
  }
}
nav header ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 14px;
  cursor: pointer;
  color: #e3e3e3;
  font-weight: 400;
  display: flex;
  padding: 1px;
  transition: all 0.5s ease;
}
nav header ul li:hover {
  border-bottom: 1px solid #272727;
}
nav .bottomHeader {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-image: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding-left: 30px;
  padding-right: 30px;
  z-index: 999;
}
@media screen and (max-width: 567px) {
  nav .bottomHeader {
    height: 150px;
    flex-wrap: wrap;
  }
}
nav .bottomHeader img {
  width: auto;
  height: 70px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 567px) {
  nav .bottomHeader img {
    width: auto;
    height: 50px;
  }
}
nav .bottomHeader img:hover {
  transform: translateX(15px);
}
nav .bottomHeader ul {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
nav .bottomHeader ul li {
  list-style: none;
}
nav .bottomHeader ul li button {
  padding: 2px;
  border: 1px solid #272727;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 100px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #272727;
  cursor: pointer;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border: 0px;
  color: #e3e3e3;
}
nav .bottomHeader ul li button:hover {
  transform: scale(1.05);
}
nav .bottomHeader ul li:hover {
  border-bottom: 0px;
}

main {
  width: 100%;
  height: 3500px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1100px) {
  main {
    padding-top: 320px;
  }
}
main section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
main .principalContainer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  main .principalContainer {
    flex-direction: column;
  }
}
main .principalContainer img {
  width: auto;
  height: 70%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px #9d9c9c;
}
@media screen and (max-width: 1100px) {
  main .principalContainer img {
    width: auto;
    height: 60%;
  }
}
main .principalContainer #principalImage {
  transform: translateX(-1000px);
  animation: translateX forwards ease;
  animation-duration: 1s;
}
main .principalContainer #imgPhoneApp {
  transform: translateX(1000px);
  animation: translateX forwards ease;
  animation-duration: 1s;
}
main .principalContainer article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 70%;
  cursor: default;
  gap: 25px;
  box-shadow: 0px 0px 10px 1px #9d9c9c;
  opacity: 0;
  animation: opacityFadeIn forwards ease;
  animation-duration: 5s;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
@media screen and (max-width: 1100px) {
  main .principalContainer article {
    width: 90%;
    height: 70%;
    justify-content: space-between;
    padding: 25px;
  }
}
main .principalContainer article h1 {
  font-size: 3vw;
  width: 90%;
  font-weight: 600;
  text-align: center;
  color: #e3e3e3;
}
@media screen and (max-width: 567px) {
  main .principalContainer article h1 {
    font-size: 4vw;
  }
}
main .principalContainer article ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 50%;
  gap: 5px;
  border-radius: 20px;
}
@media screen and (max-width: 1100px) {
  main .principalContainer article ul {
    height: 100%;
  }
}
main .principalContainer article ul li {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
main .principalContainer article ul li img {
  width: 20px;
  height: auto;
  box-shadow: none;
}
main .principalContainer article ul li button {
  padding: 2px;
  border: 1px solid #272727;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 100px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #272727;
  cursor: pointer;
}
main .principalContainer article ul li button:hover {
  background-color: linear-gradient(120deg, #b6e154 0%, #96e6a1 100%);
}
main .phraseContainer {
  width: 90%;
  height: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 1px #9d9c9c;
  border-radius: 10px;
  cursor: default;
  color: #272727;
  opacity: 0;
  animation: opacityFadeIn forwards ease;
  animation-duration: 7s;
  background-image: url(/src/assets/img/cloudsBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
}
@media screen and (max-width: 1100px) {
  main .phraseContainer {
    margin-top: 250px;
  }
}
main .phraseContainer h3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Playwrite GB S", serif;
  font-size: 40px;
}
@media screen and (max-width: 1100px) {
  main .phraseContainer h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 567px) {
  main .phraseContainer h3 {
    font-size: 4vw;
  }
}
main .aboutUsContainer {
  width: 95%;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  cursor: default;
  box-shadow: 0px 0px 10px 1px #9d9c9c;
  overflow: hidden;
  align-items: flex-start;
}
main .aboutUsContainer .aboutUsTitle {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding-left: 20px;
}
main .aboutUsContainer .aboutUsTitle h3 {
  font-size: 4vw;
}
main .aboutUsContainer article {
  width: 100%;
  height: 80%;
  padding: 10px;
}
main .aboutUsContainer article p {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
main .aboutUsContainer button {
  padding: 2px;
  border: 1px solid #272727;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 150px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #272727;
  cursor: pointer;
  height: 50px;
  margin-left: 15px;
  margin-bottom: 15px;
}
main .aboutUsContainer button:hover {
  background-image: linear-gradient(120deg, #b6e154 0%, #96e6a1 100%);
}
main #helpSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 550px;
  background-image: linear-gradient(120deg, #b6e154 0%, #96e6a1 100%);
  box-shadow: 0px 0px 20px 3px #9d9c9c;
  cursor: default;
}
main #helpSection h3 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #272727;
  font-size: 2vw;
}
main #helpSection .faqContainer {
  width: 100%;
  max-width: 600px;
  background-color: #e3e3e3;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main #helpSection .faqContainer .faqQuestion {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
main #helpSection .faqContainer .faqQuestion .icon {
  font-size: 18px;
}
main #helpSection .faqContainer .faqQuestion:hover {
  background-color: #3e9041;
}
main #helpSection .faqContainer .faqAnswer {
  display: none;
  padding: 15px 20px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 15px;
  line-height: 1.5;
}
main #helpSection .faqContainer .faqAnswer p {
  margin: 0;
}
main #helpSection p {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 50px;
  gap: 5px;
}
main #helpSection p span {
  font-weight: 600;
  cursor: pointer;
}
main #helpSection p span:hover {
  border-bottom: 1px solid #764ba2;
}
main .loginMain, main .registerMain {
  width: 100%;
  height: 500px;
  border: 10px solid red;
}
main .loginMain .login, main .loginMain .register, main .registerMain .login, main .registerMain .register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
}
main .loginMain .login .registerForm, main .loginMain .login .loginForm, main .loginMain .register .registerForm, main .loginMain .register .loginForm, main .registerMain .login .registerForm, main .registerMain .login .loginForm, main .registerMain .register .registerForm, main .registerMain .register .loginForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: default;
  border: 1px solid green;
}
main .loginMain .login .registerForm h1, main .loginMain .login .loginForm h1, main .loginMain .register .registerForm h1, main .loginMain .register .loginForm h1, main .registerMain .login .registerForm h1, main .registerMain .login .loginForm h1, main .registerMain .register .registerForm h1, main .registerMain .register .loginForm h1 {
  font-size: 16px;
  width: 300px;
}
main .loginMain .login .registerForm input, main .loginMain .login .loginForm input, main .loginMain .register .registerForm input, main .loginMain .register .loginForm input, main .registerMain .login .registerForm input, main .registerMain .login .loginForm input, main .registerMain .register .registerForm input, main .registerMain .register .loginForm input {
  border-radius: 5px;
  border: 0px solid black;
  outline: none;
  width: 300px;
  height: 40px;
  background-color: transparent;
  font-size: 16px;
  font-family: "Afacad Flux", sans-serif;
  padding-left: 10px;
  box-shadow: 0px 0px 5px 1px #9d9c9c;
}
main .loginMain .login .registerForm button, main .loginMain .login .loginForm button, main .loginMain .register .registerForm button, main .loginMain .register .loginForm button, main .registerMain .login .registerForm button, main .registerMain .login .loginForm button, main .registerMain .register .registerForm button, main .registerMain .register .loginForm button {
  padding: 2px;
  border: 1px solid #272727;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 300px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #272727;
  cursor: pointer;
}
main .loginMain .login .registerForm button:hover, main .loginMain .login .loginForm button:hover, main .loginMain .register .registerForm button:hover, main .loginMain .register .loginForm button:hover, main .registerMain .login .registerForm button:hover, main .registerMain .login .loginForm button:hover, main .registerMain .register .registerForm button:hover, main .registerMain .register .loginForm button:hover {
  background-color: linear-gradient(120deg, #b6e154 0%, #96e6a1 100%);
}
main .loginMain .login .registerForm p, main .loginMain .login .loginForm p, main .loginMain .register .registerForm p, main .loginMain .register .loginForm p, main .registerMain .login .registerForm p, main .registerMain .login .loginForm p, main .registerMain .register .registerForm p, main .registerMain .register .loginForm p {
  width: 300px;
}
main .loginMain .login .registerForm #toLogin, main .loginMain .login .registerForm #toRegister, main .loginMain .login .loginForm #toLogin, main .loginMain .login .loginForm #toRegister, main .loginMain .register .registerForm #toLogin, main .loginMain .register .registerForm #toRegister, main .loginMain .register .loginForm #toLogin, main .loginMain .register .loginForm #toRegister, main .registerMain .login .registerForm #toLogin, main .registerMain .login .registerForm #toRegister, main .registerMain .login .loginForm #toLogin, main .registerMain .login .loginForm #toRegister, main .registerMain .register .registerForm #toLogin, main .registerMain .register .registerForm #toRegister, main .registerMain .register .loginForm #toLogin, main .registerMain .register .loginForm #toRegister {
  cursor: pointer;
  color: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-weight: 600;
}
main #errorSuccessModals {
  position: absolute;
  box-shadow: 0px 0px 10px 1px #9d9c9c;
  border-radius: 5px;
  padding: 10px;
  width: 230px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  top: 150px;
  z-index: 99999;
  transform: translateY(-1500px);
  display: none;
}
main #errorSuccessModals span {
  color: #272727;
  font-weight: 600;
}
main #errorSuccessModals img {
  width: 20px;
  height: auto;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 30px;
  bottom: 0;
  position: fixed;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  transform: translateY(500px);
  padding-left: 50px;
  padding-right: 50px;
  animation: footerAnimation forwards ease;
  animation-duration: 1s;
}
@media screen and (max-width: 1100px) {
  footer {
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    opacity: 1;
  }
}
@media screen and (max-width: 567px) {
  footer {
    position: static;
  }
}
footer img {
  width: 100px;
  height: auto;
}
footer .teamMembers {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1100px) {
  footer .teamMembers {
    flex-direction: column;
    justify-content: space-between;
  }
}
footer .teamMembers h3 {
  color: #e3e3e3;
}
footer .teamMembers #imgGroup {
  width: 400px;
  height: 250px;
  filter: drop-shadow(0px 0px 5px black);
  transition: all 0.3s ease;
  transform: translateY(-30px);
  cursor: pointer;
}
footer .teamMembers #imgGroup:hover {
  filter: brightness(1.1);
  filter: saturate(1.1);
}

footer:hover {
  height: 190px;
}
@media screen and (max-width: 1100px) {
  footer:hover {
    height: 300px;
  }
}

@keyframes fadeInModal {
  100% {
    transform: translateY(50px);
  }
}
@keyframes opacityFadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes translateX {
  100% {
    transform: translateX(0px);
  }
}
@keyframes translateY {
  100% {
    transform: translateY(0px);
  }
}
@keyframes footerAnimation {
  50% {
    transform: translateY(50px);
  }
  75% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */